/* General Styles */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px!important; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1!important; /* Background of the scrollbar track */
  border-radius: 10px!important;
}

::-webkit-scrollbar-thumb {
  background: #d6d6d6!important; /* Color of the scrollbar thumb */
  border-radius: 10px!important;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3!important; /* Color on hover */
}

.container {
  width: 500px;
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
}

.container > h1:first-child {
  font-size: 34px;
  margin: 15px;
  color: #fa0404;
  margin-bottom: 0px;
}
.tagline {
  font-size: 18px;
  margin-top: 0px;
}

.home-btn {
  position: absolute;
  left: 25px;
  top: 2px;
  width: 25px;
  height: 25px;
  background-color: #000000;
  clip-path: polygon(50% -6%, 0% 50%, 0% 100%, 100% 100%, 100% 50%);
  margin: 20px auto;
  cursor: pointer;
}

.home-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffffff; /* Door color */
}

button {
  padding: 12px 25px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  width: 85%;
  font-weight: 700;
  text-shadow: 2px 2px 2px #565656;
}

button:hover {
  background-color: #29952e;
}

.hidden {
  display: none!important;
}
.card, .quota {
  width: 460px;
  background-color: #fff;
  border-radius: 10px;
  margin-inline: auto;
  margin-block: 10px;
  overflow: hidden;
}

.card {
  text-align: left;
  min-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}
.card h1, .card p {
  padding-inline: 20px;
}

p#source {
  font-size: small;
  color: #545353;
  opacity: 0.6;
}
.loading-container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#statusMessage {
  margin-top: 20px;
  font-weight: bold;
  color: rgb(202, 5, 5);
}

.card-selector {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.card-selector .option {
  text-align: center;
}

.card-selector .option input[type="radio"] {
  -webkit-appearance: none; /* For WebKit browsers */
  -moz-appearance: none; /* For Mozilla browsers */
  appearance: none; /* General appearance reset */
  width: 16px; /* Increase size */
  height: 16px; /* Increase size */
  border: 2px solid #4caf50; /* Green border */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 5px;
}

.card-selector .option input[type="radio"]:checked {
  background-color: #4caf50; /* Green background when selected */
  border-color: #4caf50;
}

.card-placeholder {
  width: 100px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.placeholder {
  background-color: #e0e0e0;
  border-radius: 1px;
}

.card-selector .title {
  height: 10px;
  margin-block: 3px;
}

.card-selector .image {
  height: 50%;
  margin-block: 3px;
}

.card-selector .description {
  height: 3px;
  margin-block: 3px;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.upgrade-component {
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  width: 85%;
  margin: auto;
}

.upgrade-component p:last-child {
  border-radius: 10px;
  background-color: #E9F2FE;
  padding: 20px;
}

.form-container {
  margin: 0 auto;
  padding-inline: 20px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-block: 15px;
}

.form-row input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}

.payment {
  padding-inline: 10px;
}

.payment > div {
  display: flex;
  border: 0.1px solid #ddd;
}

.payment .methods {
  width: 65%;
  background-color: #ddd;
}
.payment img {
  width: 100%;
  height: 100%;
}

button#payButton {
  width: 35%;
  background: yellow;
  color: #000;
  border-radius: 0px;
  margin: 0px;
  text-shadow: none;
}

.quota > .upgrade-heading {
  border-radius: 5px;
  background-color: #E9F2FE;
  padding: 20px;
}

.quota h2 {
  font-size: 24px;
  margin: 0px;
}

.quota p {
  font-size: 18px;
  margin: 5px;
}

.quota h2:first-child {
  font-size: 24px;
  margin: 0px;
}

.quota > h2:first-child {
  opacity: 0.4;
}
.quota > p:first-of-type {
  opacity: 0.4;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  text-shadow: none;
  background: none;
  color: #000;
}



.button-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #ddd;
  margin-inline: 10px;
}

/* Button Styles */
.btn {
  padding: 10px 15px;
  font-size: 20px;
  line-height: 1;
  border: none;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 999;
  width: auto;
}

.reset-btn {
  background-color: #f44336;
  color: white;
}

.reset-btn:hover {
  background-color: #d32f2f;
}

.edit-btn {
  background-color: #2196f3;
  color: white;
}

.edit-btn:hover {
  background-color: #1976d2;
}
